[MESSAGES CONTROL]

disable=too-many-arguments,
        too-many-instance-attributes,
        line-too-long

max-nested-blocks=10
max-statements=100
max-branches=35
max-locals=35

good-names=i,j,k,x,dt,tt,ts,tz,
           tc,hh,xr,
           biosAgenda,tsToTuple,tsToHuman
